.welcome {
    height: 100vh;
    flex-direction: column
}

.scroll-messages {
    height: calc(100vh - 65px);
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 0;
}

.scroll-contacts {
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.contact {
    line-height: 1;
    min-height: 40px;
}

.message-sending-input {
    position: sticky;
    bottom: 10px;
    z-index: 10;
    width: calc(100% - 20px);
    height: 40px;
}

.message {
    margin-bottom: 5px;
    border-radius: 10px !important;
    width: 60%;
}

.message-me {
    align-self: flex-end;
}

.message-friend {

}

.message i {
    font-size: 14px;
}